body{
    font-family: 'Montserrat', sans-serif !important;
}

#title{
    background-color: #21bf73;
    color: #f9fcfb;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900 !important;
    
    size: 4rem;
    line-height: 1.5 !important;
}
h3{
    font-weight: bolder !important;
}
h2{
    font-weight: bolder !important;
    color: #f9fcfb;
    line-height: 1.5 !important;

}
p{
    color: #8f8f8f;
    margin-top: 1.5rem !important;
}
.container{
    padding: 3% 15% 7%;

}

/* nav bar  */

.navbar{
    padding:0 0 4.5rem !important ;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem !important;
    font-weight: bold;
   

}

.nav-item{
    padding: 0 18px;
    font-weight: 400;
}

/* buttons */

.download-button{
    margin: 10% 3% 5% 0 !important;
}
.title-image{
    width: 60%;
    transform: rotate(10deg);
    position: absolute;
    right: 30%;
    
    
}

/* features */
#features{
    padding: 5% 7%;
    background-color: #f9fcfb;
    position: relative;
    z-index: 1;
}

.features-column{
    padding: 5% !important; 
    text-align: center;

}

.feature-icon{
    color: #21bf73;
    padding: 1.5rem 0;
}
.feature-icon:hover{
    color: #75daad;
    
}

/* testimonials */

#testimonials{
    background-color:  #21bf73;
    color: #f9fcfb;
    
    text-align: center;
}

.testimonial-image{
    width: 13%;
    border-radius: 100%;
    margin: 4%;
}

#press{
    background-color: #21bf73;
    padding-bottom: 5%;
    text-align: center;
    
}
.press-image{
    width: 15%;
    margin: 2rem 1.6rem 3rem;
}
.carousel-item{
    padding: 5% 14%;

}

/* pricint */


#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-header{
    color: black !important;
}

.card-box{
    padding: 3% 2%;
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
    transform: rotate(0);
    position: static;
    
}
}

#cta{
    padding: 7% 5%;
    background-color:#21bf73;
    font-family: 'Montserrat', sans-serif;
    color: #f9fcfb;
    
    text-align: center;
}
.cta-header{
    font-weight: 900 !important;
    font-size: 2.5rem !important;
    line-height: 1.5 !important;
    padding: 0 3rem;
}

.download-button-cta{
    margin:  4% 1.5%  !important;
}



#footer{
    text-align: center;
    padding: 3% auto !important;
    margin: 8% auto 3%;
}
.footer-icon{
    color: black !important;
    padding: 1rem;
    
   
}
.footer-icon :hover{
    color:#21bf73
    
}

.footer-font{
    font-size: .75rem !important;
}